<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="datasource.properties"></properties>
	<typeAliases>
		<package name="com.zjs.bwcx.mybatis.pojo.Role" />
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<!-- <package name="com/zjs/bwcx/mybatis/mapper" />   Invalid bound statement (not found):-->
		<!-- <mapper class="com.zjs.bwcx.mybatis.mapper.RoleMapper"/> Invalid bound statement (not found):-->
		<mapper resource="com/zjs/bwcx/mybatis/mapper/role.xml"/>
	</mappers>
</configuration>